<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Salary Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="number" name="ID" placeholder="ID" required="required" />
        <input type="number" name="age" placeholder="Age" required="required" />
		<input type="text" name="job" placeholder="Job" required="required" />
		<input type="text" name="marital" placeholder="Marital" required="required" />
		<input type="text" name="education" placeholder="Education" required="required" />
		<input type="text" name="default" placeholder="Default(yes or no)" required="required" />
		<input type="number" name="balance" placeholder="Balance" required="required" />
		<input type="text" name="housing" placeholder="Housing" required="required" />
		<input type="text" name="loan" placeholder="Loan" required="required" />
		<input type="text" name="contact" placeholder="Contact" required="required" />
		<input type="number" name="day" placeholder="Day" required="required" />
		<input type="text" name="month" placeholder="Month" required="required" />
		<input type="number" name="duration" placeholder="Duration" required="required" />
		<input type="number" name="campaign" placeholder="Campaign" required="required" />
		<input type="number" name="pdays" placeholder="Pdays" required="required" />
		<input type="number" name="previous" placeholder="Previous" required="required" />
		<input type="text" name="poutcome" placeholder="Poutcome" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
